section {
  padding: 100px 0;
  background-color: #f0f0f0;
}

section .container {
  width: 100%;
  padding: 0;
  flex-direction: column;
  gap: 80px;
}
/* section service */
section.service {
  background-color: var(--bg-white);
}
/* section dark */
section.section-dark {
  background-color: var(--title-dark);
}

section.section-dark .card {
  background-color: var(--card-dark);
  height: 250px;
}

section.section-dark .card .card-body {
  padding: 35px 40px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

section.section-dark .card .card-title {
  color: var(--text-light);
  margin: 0;
}

section.section-dark .card .card-text {
  color: var(--text-light);
  font-size: 16px;
  margin: 0;
}

section.section-dark .card .small-text {
  color: var(--text-light);
  font-size: 14px;
}

section.section-dark .card .btn {
  margin: 0;
}

section.section-dark .card .img-fluid {
  height: 100%;
}

.container .row {
  justify-content: space-between;
  margin: 0;
}

section .card {
  overflow: hidden;
  border-radius: 10px;
  border: 0;
}

.card .card-body {
  padding: 0;
}

.row .card {
  padding: 0;
  position: relative;
}

.title-section {
  font-size: 3em;
  font-weight: bold;
  color: var(--title-dark);
  text-align: center;
}

.subtitle-section {
  font-size: 18px;
  color: var(--description);
  text-align: center;
}

.img-fluid.card-img {
  max-width: 160px;
  width: 100%;
}

.card .card-title {
  font-weight: bold;
  margin-bottom: 1em;
}

.card .card-text {
  color: var(--description);
}

.link-section,
.link-section:hover {
  color: var(--title-dark);
  font-weight: bold;
  text-decoration: none;
}

.link-section:hover .arrow-color {
  margin-left: 15px;
}

/* card section dark */
section .card.card-grid {
  width: 48%;
  height: 100%;
}

section .card.card-grid .card-text {
  font-size: 14px;
}

section .card.card-grid:hover {
  background-color: #fff;
  cursor: pointer;
}

section .card.card-grid .link-section {
  color: var(--text-light);
  font-size: 14px;
}

section .card.card-grid:hover .card-title,
section .card.card-grid:hover .card-text,
section .card.card-grid:hover .link-section {
  color: var(--title-dark);
}

section .card.card-grid .card-body {
  padding: 30px 35px 25px 35px;
}

/* card service */
.row .card-service {
  flex-wrap: nowrap;
  padding: 35px 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.01);
  border-radius: 0;
}

.card.card-service {
  width: 32%;
  height: 560px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
}

.card-service .card-body {
  flex-direction: column;
  justify-content: space-between;
}

/* list card */
.list-card {
  padding: 0;
}

.list-card .box {
  margin: 5px 0;
  border: 1px solid #f0f0f0;
  padding: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.list-card .list-item .arrow-color {
  margin: 0;
  position: absolute;
}

.list-card .list-item {
  position: relative;
}

.list-card .list-item p {
  margin-left: 20px;
  margin-bottom: 10px;
}

.btn-service {
  padding: 15px 30px;
  margin: 0;
  text-transform: uppercase;
}

/* swipper */
.swiper-pagination {
  position: relative !important;
  bottom: 0 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 0.7;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal
  .swiper-pagination-bullet {
  margin: 15px 7px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #000;
}

/* section grey */
section.section-grey {
  background-color: var(--card-dark);
  padding: 30px 0;
}

section.section-grey .header-section .arrow-color {
  margin-right: 20px;
}

.accordion .accordion-item,
.accordion .accordion-button,
.accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
}

.accordion .accordion-item {
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.accordion .accordion-header {
  border: 0;
  font-weight: bold;
}

.accordion .accordion-header .accordion-button {
  font-size:16px;
  padding: 30px 0;
  color: var(--text-light);
  font-weight: bold;
}

.accordion .accordion-header .accordion-button::after {
  background-image: url("../img/icon/icon-arrow.svg");
}

.accordion .accordion-header .accordion-button:not(.collapsed):after {
  transform: rotate(180deg);
}

.accordion .accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
}

.accordion .accordion-body {
  padding: 0 0 25px 0;
}

.accordion .accordion-body p {
  color: rgb(204, 204, 204);
  margin: 0;
  font-size: 14px;
}

.accordion .accordion-item {
  border-radius: 0;
}

.accordion .accordion-body .link-faq {
  color: var(--yellow-color);
  text-decoration: none;
}

/* footer */
footer .container{
  padding: 0;
}

footer .list-footer .title-item {
  font-weight: bold;
  color: #000;
  margin-bottom: 35px;
}

footer .list-footer ul li {
  width: 100%;
  margin-bottom: 5px;
}

footer .list-footer ul li a {
  font-weight: 400;
  font-size: 14px;
  color: var(--subtitle-dropdown);
  text-decoration: none;
}

footer .list-footer ul li a:hover {
  color: #007bc7;
  text-decoration: underline;
}

footer .list-footer ul li p{
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  color: var(--subtitle-dropdown);
}

footer .item-footer p{
  font-size: 12px;
}

footer .item-footer .img-reg{
  max-width: 23%;
}

footer .list-link .link-footer{
  font-weight: bold;
  font-size: 12px;
  padding-right: 9px;
  margin-right: 9px;
  border-right: 1px solid #007bc7;
}

footer .list-link .link-footer a{
  color: #007bc7;
  text-decoration: none;
}

footer .list-link .link-footer a:hover{
  color: var(--yellow-color);
}

footer .list-link .link-footer:last-child{
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

footer .container .politic{
  text-align: center;
}

footer .container .politic p{
  font-size: 12px;
  color: #a1a1a1;
}

footer .container .politic p a{
  color: blue;
  text-decoration: none;
}

footer .container .politic p a:active{
  color: red;
  text-decoration: none;
}

footer .container .politic a{
  color: var(--title-dark);
}
/* Medias Query */

@media screen and (min-width: 1200px) {
  section .container,
  footer .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  section .container,
  footer .container{
    padding-left: 20px;
    padding-right: 20px;
  }

  .container .row {
    flex-direction: column;
  }

  section .card.card-grid {
    width: 100%;
  }

  section .swiper .card-title {
    font-size: 15px;
  }

  section.section-dark .card {
    height: 100%;
  }

  section.section-dark .card .card-body {
    padding: 20px 20px;
    min-height: 180px;
  }

  section.section-dark .img-container {
    height: 150px;
  }

  .card.card-service {
    width: 100%;
    margin-bottom: 15px;
    min-height: 660px;
    height: 100%;
  }

  section.section-grey .container,
  footer .container {
    max-width: 440px;
  }

  .list-footer .itens-footer .title-item{
    margin: 20px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  .accordion .accordion-header .accordion-button {
    padding: 20px 0;
  }

  footer .item-footer .img-reg{
    max-width: 23.5%;
  }
}
